/* 全体のスタイル */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: serif;
  position: fixed;
  top: 11px;
  left: 40px;
  color: black;
  font-size: 2em;
}

.logo a:hover {
  text-decoration: none;
  color: black;
}

/* ログインセクション */
.login {
  width: 80%;
  max-width: 900px;
  margin: 140px auto 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* タイトル */
.title {
  text-align: center;
  margin-bottom: 20px;
}

.title h1 {
  font-size: 2.5rem;
  color: #000;
}

/* インナーセクション */
.inner {
  display: flex;
  gap: 20px;
}

.form,
.register-section {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  text-align: center;
}

.cp_iptxt {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cp_iptxt input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.cp_iptxt label {
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: 0.9rem;
  color: #666;
  background: #fff;
  padding: 0 5px;
}

.cp_iptxt .focus_line {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #333;
  transition: width 0.3s;
}

.cp_iptxt input:focus + .focus_line {
  width: 100%;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background: #333;
}

.forgot-password {
  margin-top: 10px;
  font-size: 0.9rem;
  text-align: center;
}

.forgot-password a {
  color: #555;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

/* 新規登録セクション */
.register-section h2 {
  font-size: 1.2rem;
  margin-top: 60px;
  margin-bottom: 10px;
  color: #333;
}

.register-section p {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #666;
}

.register-section button {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.register-section button:hover {
  background: #333;
}

/* フッター */
.login-footer {
  margin-top: 30px;
  font-size: 0.8rem;
  color: #666;
  text-align: center;
  line-height: 1.5;
}

.btn:hover {
  transform: scale(1.02); /* ボタンを10%大きく */
}

